@charset "utf-8";

@import '~vuetify/src/styles/settings/_variables';

.v-alert a {
  color: white;
}
.v-card__title {
  word-break: normal !important;
}
@media #{map-get($display-breakpoints, 'sm-and-down')} {
  .v-toolbar__content {
    padding: 4px 8px !important;
  }
}

h1, h2, h3, h4 {
  font-weight: 400;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
